extends layer
block body
    .row 
        .col 
            img.img-fluid.rounded(src='images/Me.jpeg' style="width: 80%;")
        .col 
            
            h1.p-3 Hello there! I'm Ammar
            .row.my-2 
                .col 
                    h5 About me:
                    p 
                        | Hi, My name is Ammar Almajed, and I am from Al-Ahsa in Saudi Arabia. I am currently studing software engineering at my wonderful university 
                        a.text-white(href="http://www.kfupm.edu.sa/Default.aspx" title="The hardest university in the world :)" style="text-decoration: none; font-weight: bold;") KFUPM 
                        |, it gave me many opportunities to improve and change myself so I am loyal to it :). I am passionate about being a person who create new things. 
            .row.my-2
                .col
                    h5 Education:
                    p  
                        | Bachelor of Science in Software Engneering
                        br
                        a(href="http://www.kfupm.edu.sa/Default.aspx")
                            span.university King Fahd University of Petroleum and Minerals (KFUPM)
                        br
                        | Exchang Student in Computer Science
                        br
                        a(href="https://www.kaist.ac.kr/en/")
                            span.university Korea Advanced Institute of Science & Technology (KAIST)
                        br

            
            .row.my-2
                .col 
                    h5 Area of Interset:
                    ul 
                        li Artificial Intelligence  
                        li Web Development
                        li Mobile Development 
                        li Investment :)

                

        
            