nav a {
  font-weight: bold;
}

body a {
  text-decoration-color: grey !important;  
}

span.university{
  color: gray;
  font-size: 85%;
  font-weight: normal;
}

body.dark {
  background-color: #393E46;
  color: white;
}

body.light{
  background-color: #F1F4FFFF;
  color: black;
}

nav.bg-dark{
  background-color: #222831 !important;
}
nav.bg-light{
  background-color: #A2A2A1FF !important;
}

footer.bg-dark{
  background-color: #222831 !important;
  color: white;
}

footer.bg-light{
  background-color: #A2A2A1FF !important;
  color: black;

}

.navbar-toggler-icon {
  color: red;
  
}

/* shocking heading */

.shocking-heading {
  font-size: 72px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  background: linear-gradient(to right, #667db6,#0082c8,#0082c8,#667db6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shimmer 1s infinite;
  -moz-animation: shimmer 1s infinite;
  -ms-animation: shimmer 1s infinite;
  -o-animation: shimmer 1s infinite;
  animation: shimmer 1s infinite;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

@-moz-keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

@-ms-keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}



